---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <h1>Il mio nuovo sito professionale</h1>
        <p>Settimana 2: Infrastruttura completata con successo.</p>
        
        <ul>
            <li>Ambiente di lavoro: Configurato</li>
            <li>Git & GitHub: Collegati</li>
            <li>Deploy automatico: Pronto</li>
        </ul>
    </main>
</Layout>
